<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hera Admin</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/formRegistro.css">
    <script src="https://kit.fontawesome.com/a1ddf57449.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="nav">
        <h1>REGISTRO DE CLIENTES</h1>
        <button onclick="inicio()" class="backButton">Volver</button>
    </header>
    <main id="container-registro">
        <div id="subcontainer-registro">    
            <% if(typeof mensaje !== 'undefined'){ %>
                <div class="error" id="error">
                    <div class="error__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"></path></svg>
                    </div>
                    <div class="error__title"><%= mensaje %></div>
                    <button onclick="document.getElementById('error').style.display='none'"><div class="success__close"><svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z" fill="#393a37"></path></svg></div></button>
                </div>
            <% } %>
            <% if(typeof success !== 'undefined'){ %>
                <div class="success" id="success">
                    <div class="success__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"></path></svg>
                    </div>
                    <div class="success__title"><%= success %></div>
                    <button onclick="document.getElementById('success').style.display='none'"><div class="success__close"><svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z" fill="#393a37"></path></svg></div></button>
                </div>
            <% } %>

            <form action="/validar" id="registroForm" method="post">
                <div>
                    <div class="select-form">
                        <label for="">Nombres*</label>
                        <input type="text" name="nombres" required placeholder="Escribe tus nombres">
                    </div>
                    <div class="select-form">
                        <label for="">Apellidos*</label>
                        <input type="text" name="apellidos" required placeholder="Escribe tus apellidos">
                    </div>
                </div>
                <label for="" >Correo electrónico*</label>
                <input type="email" name="email" id="" required placeholder="Escribe tu correo electrónico">
                <label for="">Teléfono</label>
                <input type="tel" name="telefono" id="" required placeholder="Escribe tu numero de teléfono">
                <label for="">Cédula</label>
                <input type="number" name="cedula" id="" placeholder="Escribe tu numero de cédula">
                <div>
                    <div class="select-form">
                        <label for="" >Ciudad*</label>
                        <select name="ciudad" id="" required>
                            <option value="">Seleccione ciudad</option>
                            <option value="cucuta">Cúcuta</option>
                            <option value="barranquilla">Barranquilla</option>
                            <option value="bogota">Bogotá</option>
                            <option value="bucaramanga">Bucaramanga</option>
                            <option value="cali">Cali</option>
                            <option value="cartagena">Cartagena</option>
                            <option value="medellin">Medellín</option>
                            <option value="villavicencio">Villavicencio</option>
                        </select>
                    </div>
                    <div class="select-form">
                        <label for="">Género*</label>
                        <select name="genero" id="" required>
                            <option value="">Seleccione género</option>
                            <option value="femenino">Femenino</option>
                            <option value="masculino">Masculino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                </div>
                <label for="">Cumpleaños*</label>
                <input type="date" name="cumpleanos" id="" required>
                <button class="primaryButton" type="submit">Enviar</button>
            </form>
        </div>
        <div id="respuesta"></div>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>