<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hera Admin</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/a1ddf57449.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="nav">
        <h1>DASHBOARD</h1>
    </header>
    <section id="principalSection">
        <div id="containerVerticalCards">
            <a href="/verClientes">
                <div class="verticalCard">
                    <h3>Clientes</h3>
                    <i class="fa-regular fa-user"></i>
                </div>
            </a>
            <a href="/registro">
                <div class="verticalCard">
                    <h3>Agregar Clientes</h3>
                    <i class="fa-regular fa-address-book"></i>
                </div>
            </a>
        </div>
        <div id="horizontalCards">
            <a href="">
                <div class="horizontalCard">
                    <h3>Registrar Ventas</h3>
                    <i class="fa-solid fa-cash-register"></i>
                </div>
            </a>
            <a href="">
                <div class="horizontalCard">
                    <h3>Inventario</h3>
                    <i class="fa-solid fa-clipboard-list"></i>
                </div>
            </a>
            <a href="">
                <div class="horizontalCard">
                    <h3>Historial de Ventas</h3>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
            </a>
        </div>
        <div id="containerVerticalCards">
            <a href="/registro-productos">
                <div class="verticalCard">
                    <h3>Agregar Productos</h3>
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
            </a>
            <a href="">
                <div class="verticalCard">
                    <h3>Estadisticas de Ventas</h3>
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </a>
        </div>
    </section>

</body>
</html>