body{
    height: 100%;
}

#container-registro{
    display: flex;
    justify-content: center;
    align-items: center;
}

#subcontainer-registro{
    margin: 2rem 0 2rem 0;
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--bg-color);
}

#subcontainer-registro form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70%;
}

#subcontainer-registro form label{
    text-align: left;
    font-size: 14px;
    color: #323e5a;
}

#subcontainer-registro form input{
    border: 1px solid #323e5a;
    background: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Poppins";
}

#subcontainer-registro form input:focus{
    outline: #36508d 2px solid;
}

#subcontainer-registro form div{
    display: flex;
    gap: 5px;
    margin: 5px 0px;
}

.select-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-form select{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    color: #323e5a;
    border: 1px solid #323e5a;
    background: none;
    padding: 5px;
}