@import url('https://fonts.cdnfonts.com/css/casselin');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    background-color: var(--bg-color);
    height: 100vh;
    background: linear-gradient(
        to bottom right,
        #6374ae,
        #f8cdda );
}

:root{
    --title-primary-color: #471023;
    --bg-button-primary-color: #f83c86;
    --bg-button-primary-hover: #b21047;
    --text-primary-color: #c84579;
    --text-secondary-color: #e482b0;
    --text-white: #fff9ee;
    --bg-secondary-color: #ffcae4;
    --title-footer-color: #f6d4e5;
    --text-footer-color: #e482b0;
    --bg-footer-color: #aa2c5a;
    --bg-color: #f9eaf2;
}

/*'waikawa-gray': {
    '50': '#f2f7fb',
    '100': '#e7f0f8',
    '200': '#d3e2f2',
    '300': '#b9cfe8',
    '400': '#9cb6dd',
    '500': '#839dd1',
    '600': '#6a7fc1',
    '700': '#6374ae',
    '800': '#4a5989',
    '900': '#414e6e',
    '950': '#262c40',
},*/

#nav h1{
    color: var(--text-white);
    letter-spacing: 10px;
}

#nav{
    margin: 1rem 0;
    background-color: #414e6e;
    height: 3.2rem;
    box-shadow: 0px 0px 5vh #414e6e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principalSection{
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

#horizontalCards{
    height: 108%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.horizontalCard{
    height: 100%;
    width: 15rem;
    padding: 0 1rem;
    border-radius: 8px;
    background-color: #414e6e;
    box-shadow: 0px 0px 2vh #414e6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

#containerVerticalCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 20%;
}

#containerVerticalCards a{
    text-decoration: none;
    color: var(--text-white);
}

#horizontalCards a{
    text-decoration: none;
    color: var(--text-white);
}

.verticalCard{
    height: 10rem;
    padding: 0 1rem;
    border-radius: 8px;
    background-color: #414e6e;
    box-shadow: 0px 0px 2vh #414e6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

i{
    font-size: 40px;
}

.primaryButton{
    cursor: pointer;
    width: 8rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: 25px;
    border: 1px solid #414e6e;
    color: #414e6e;
    font-size: 16px;
    font-family: "Poppins";
    background-color: var(--bg-color);
    transition: all .3s ease-in-out;
}

.primaryButton:hover{
    background-color: #414e6e;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

.secondaryButton{
    cursor: pointer;
    width: 10rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    font-size: 16px;
    font-family: "Poppins";
    background: none;
    transition: all .3s ease-in-out;
}

.secondaryButton:hover{
    border-color: #414e6e;
    color: #414e6e;
}
