@import url('https://fonts.cdnfonts.com/css/casselin');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    background-color: var(--bg-color);
    height: 100vh;
    background: linear-gradient(
        to bottom right,
        #6374ae,
        #f8cdda );
}

:root{
    --title-primary-color: #471023;
    --bg-button-primary-color: #f83c86;
    --bg-button-primary-hover: #b21047;
    --text-primary-color: #c84579;
    --text-secondary-color: #e482b0;
    --text-white: #fff9ee;
    --bg-secondary-color: #ffcae4;
    --title-footer-color: #f6d4e5;
    --text-footer-color: #e482b0;
    --bg-footer-color: #aa2c5a;
    --bg-color: #f9eaf2;
}

/*'waikawa-gray': {
    '50': '#f2f7fb',
    '100': '#e7f0f8',
    '200': '#d3e2f2',
    '300': '#b9cfe8',
    '400': '#9cb6dd',
    '500': '#839dd1',
    '600': '#6a7fc1',
    '700': '#6374ae',
    '800': '#4a5989',
    '900': '#414e6e',
    '950': '#262c40',
},*/

/*error and success message*/

.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
    background: #EF665B;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon path {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #70d16d;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success__icon path {
    fill: #fff;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: #fff;
}

.error button {
    background: none;
    border: none;
    margin-left: 1rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success button {
    background: none;
    border: none;
    margin-left: 1rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*error message finished*/

.primaryButton{
    display: block;
    cursor: pointer;
    width: 10rem;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: 25px;
    border: 1px solid #414e6e;
    color: #414e6e;
    font-size: 16px;
    font-family: "Poppins";
    background-color: var(--bg-color);
    transition: all .3s ease-in-out;
}

.primaryButton:hover{
    background-color: #414e6e;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

.secondaryButton{
    display: block;
    cursor: pointer;
    width: 10rem;
    margin: 1rem auto;
    padding: .5rem;
    border-radius: 25px;
    border: none;
    color: var(--bg-color);
    font-size: 16px;
    font-family: "Poppins";
    background-color: #001750;
    transition: all .3s ease-in-out;
}

.secondaryButton:hover{
    background-color: #003acc;
}

.backButton{
    display: block;
    cursor: pointer;
    width: 8rem;
    margin: 1rem 1rem 1rem auto;
    padding: .5rem;
    border-radius: 25px;
    border: 1px solid #414e6e;
    color: #414e6e;
    font-size: 16px;
    font-family: "Poppins";
    background-color: var(--bg-color);
    transition: all .3s ease-in-out;
}

.backButton:hover{
    background-color: #414e6e;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

#nav h1{
    color: var(--text-white);
    letter-spacing: 10px;
    margin: 20%;
}

#nav{
    margin: 1rem 0;
    background-color: #414e6e;
    height: 3.2rem;
    box-shadow: 0px 0px 5vh #414e6e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principalSection{
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

#horizontalCards{
    height: 108%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.horizontalCard{
    height: 100%;
    width: 15rem;
    padding: 0 1rem;
    border-radius: 8px;
    background-color: #414e6e;
    box-shadow: 0px 0px 2vh #414e6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

#containerVerticalCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 20%;
}

#containerVerticalCards a{
    text-decoration: none;
    color: var(--text-white);
}

#horizontalCards a{
    text-decoration: none;
    color: var(--text-white);
}

.verticalCard{
    height: 10rem;
    padding: 0 1rem;
    border-radius: 8px;
    background-color: #414e6e;
    box-shadow: 0px 0px 2vh #414e6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

i{
    font-size: 40px;
}